.form {
    margin: 15px;
    text-align: right;
}

.form-head {
    margin: 15px;
    text-align: center;
}

.input {
    text-align: left;
    margin: auto;
}

.search {
    margin: auto;
}

.left-text {
    text-align: left;
}