.room {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 5px;
    width: 90%;
    margin: auto;
}

.window {
    width: 20%;
    height: 100%;
    background-color: aqua;
}

.big-way {
    height: 25px;
}